<div class="container mx-auto">
  <h2>My Heroes</h2>

  <div>
    <label for="new-hero">Hero name:</label>
    <input
      class="p-2 border rounded-lg bg-neutral-700 border-neutral-600 focus:outline-none"
      id="new-hero"
      #heroName
    />

    <button
      (click)="add(heroName.value)"
      class="block p-2 duration-200 rounded-lg bg-neutral-600 hover:bg-neutral-700"
    >
      Add hero
    </button>
  </div>

  <ul class="flex flex-col mt-5 space-y-5">
    <li
      *ngFor="let hero of heroes"
      class="overflow-hidden font-semibold rounded-lg shadow-lg w-fit"
    >
      <a routerLink="/detail/{{ hero.id }}">
        <button
          class="flex items-center duration-200 bg-neutral-600 hover:bg-neutral-700"
        >
          <span class="p-2 bg-neutral-800">{{ hero.id }}</span>
          <span class="p-2">{{ hero.name }}</span>
        </button>
      </a>
    </li>
  </ul>
</div>
